{% extends 'QRcodePro/base.html' %}

{% block title %}Terms and Conditions{% endblock %}

{% block content %}
<div class="terms-container">
    <h1>Terms and Conditions</h1>
    <p>Welcome to QRcodePro! These terms and conditions outline the rules and regulations for the use of QRcodePro's Website.</p>

    <h2>1. Introduction</h2>
    <p>By accessing or using our service, you agree to be bound by these terms. If you disagree with any part of these terms, you may not access the service.</p>

    <h2>2. Services</h2>
    <p>QRcodePro provides a range of QR code generation services including text, email, URL, vCard, location, Wi-Fi, call, WhatsApp, and message QR codes. Our services are free of charge and do not require authentication.</p>

    <h2>3. Use of Service</h2>
    <p>You agree to use the service only for lawful purposes and in accordance with these terms. You must not use the service in any way that may damage, disable, or impair the service.</p>

    <h2>4. Intellectual Property</h2>
    <p>All intellectual property rights related to the QRcodePro service and its content are owned by QRcodePro. You may not use, copy, or distribute any content from our service without permission.</p>

    <h2>5. Limitation of Liability</h2>
    <p>QRcodePro is not liable for any damages arising from the use or inability to use our service. We provide our service on an 'as is' basis and make no warranties regarding its accuracy or reliability.</p>

    <h2>6. Changes to Terms</h2>
    <p>We may update these terms from time to time. Any changes will be posted on this page, and it is your responsibility to review these terms periodically.</p>

    <h2>7. Contact Us</h2>
    <p>If you have any questions about these terms, please contact us at s5tech.contactme@gmail.com.</p>
</div>
{% endblock %}
